# for MA-plot-app.py: replace the following with your database setup
# copy to file ".env"
DB_HOST=DatabaseIP
DB_PORT=3307
DB_NAME=NishimuraLab
DB_USER=worm
DB_PASSWORD=
DB_SCHEMA=williams2023
DB_TABLE=log2FoldChangeWide
